header
{
    font-size: 50px;
    font-family: 'Bungee Inline', cursive;
    background-color:rgb(76, 177, 152);
    border-radius: 80px;
    text-align: center;
    text-shadow: 13px 1px 30px;
    color:rgb(128, 140, 128);
    block-size: 1px;
}

div
{
    border-radius: 40%;
    width: 300px;
    font-size: larger;
    font-family: 'Tilt Prism', cursive ;
    text-align: center;
    margin: right 50px;
    padding: 20px;
    border-color: bisque;
    border-style:groove;
    border-top: 200px;
}

img
{
    border-radius: 38%;

}

#article2
{
    color:rgb(220, 212, 203) ;
    background-color: rgb(42, 163, 163);
    padding: 0%;
    margin: 20%;
    border-radius: 20%;
    margin-top: 3%;
    border-top-left-radius: 130%;
    border-bottom: 200%;
    text-align:center;
    text-transform: capitalize;
    letter-spacing: 10px;
    border-style: ridge;
}

.orchid
{
    color:burlywood;
    border-radius: 20%;
    border-color: antiquewhite;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
    font-size: large;
    font-family: 'Tilt Prism', cursive ;
}

body
{
    background-color: azure;
}

footer
{
    margin-left: 30%;
    margin-right: 30%;
}

#contactupper
{
    margin-left: 70%;
    font-size: medium;
    color: rgb(27, 68, 55);
}

footer:hover
{
    color: rgb(1, 19, 1);
}
  
